@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<div class="page">
	<div style="background-image:none;background-color:#4a6314;" class="sidebar">
		<NavMenu />
	</div>

	<main>
		<AuthorizeView>
			<Authorized>
				<div class="top-row px-4">
					<a href="#" @onclick="Logout">Logg ut</a>
				</div>
			</Authorized>
			<NotAuthorized>
				<div class="top-row px-4">
					<a @onclick="Login">Logg inn</a>
				</div>
			</NotAuthorized>
		</AuthorizeView>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	private void Logout()
	{
		LocalStorage.RemoveItemAsync("token");
		NavigationManager.NavigateTo("login", forceLoad: true);
	}

	private void Login()
	{
		NavigationManager.NavigateTo("login");
	}
}
