@page "/Login";

<h3>Login</h3>

<form id="loginForm">
<TextInput id="usernameInput" name="usernameInput" label="Epostadresse" type="text"/>

<TextInput id="passwordInput" name="passwordInput" label="Passord" type="password"/>

<SubmitInput/>

</form>

@code {
    
}